.social-media {
  ul {
    display: flex;
    gap: clamp(30px, 4vw, 60px);

    a {
      color: #7E8A95;
      transition: all 0.5s ease;

      &:hover {
        color: #d60812 !important;
      }
    }
  }
}
