@import "../../assets/styles/icons.scss";

.page {
  width: 31%;
  height: 100%;
  position: absolute;
  padding: 160px 60px 40px;
  transition: all 0.5s ease;
  transform: translateX(300%);

  @media screen and (max-width: 1366px) {
    width: 33.333%;
  }

  h3 {
    font-size: clamp(20px, 1.7vw, 26px);
    line-height: clamp(25px, 2vw, 31px);
    font-weight: 300;
    margin-bottom: 35px;
    padding-left: 51px;
  }

  nav {
    font-size: clamp(14px, 1.2vw, 18px);
    font-weight: 400;
    height: 100%;
    overflow-y: auto;
    line-height: 22px;

    ul {
      gap: clamp(10px, 1.6vw, 30px);
      display: flex;
      flex-direction: column;
      text-align: right;
      font-weight: 300;
    }

    a,
    span {
      display: inline-flex;
      color: #000;

      &:hover {
        color: #d60812;
      }
    }

    li {
      cursor: pointer;
      position: relative;
      padding-right: 62px;
      
      &:has(ul) {
        @extend .icon-arrow-down;
        
        &:before {
          width: 30px;
          display: inline-flex;
          position: absolute;
          font-weight: normal;
          font-family: benoplast !important;
          top: 2px;
          right: 0;
          transition: 300ms;
        }
      }

      ul {
        font-weight: 300;
        padding: 20px 0;
        display: none;
        text-align: right;

        li {
          padding-right: 0;

          a {
            color: #000;
            opacity: 0.8;
            display: inline-flex;

            &:hover {
              opacity: 1;
              color: #d60812;
            }
          }

          &:before {
            display: none;
          }
        }
      }

      &:hover {
        &:before,
        span {
          color: #d60812;
        }
      }
    }
  }

  &-1 {
    background: #f3f5f7;
    right: 0;
    z-index: 3;
    transition-delay: 0.4s;

    nav {
      height: calc(100% - 110px);
      ul {
        font-size: clamp(20px, 1.6vw, 26px);
        gap: clamp(30px, 3vw, 60px);

        ul {
          font-size: clamp(14px, 1.2vw, 18px);
          gap: clamp(10px, 1.6vw, 30px);
        }
      }
    }
  }

  &-2 {
    background: #fff;
    right: 31%;
    z-index: 2;
    transition-delay: 0.2s;
    padding: 35px 0 0;

    @media screen and (max-width: 1366px) {
      right: 33.333%;
    }

    nav {
      ul {
        gap: inherit;

        li {
          padding-right: 0;
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-top: 1px solid #e6e8e8;
            padding-left: 51px;
            height: 136px;
            transition: all 0.5s ease;

            span {
              text-align: left;
            }

            &:hover {
              background: #f7f7f7;
              padding-left: 60px;
            }
          }

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.nav {
  &--open {
    span {
      color: #d60812 !important;
    }
    &:before {
      color: #d60812 !important;
      transform: rotate(180deg);
      transition: 300ms;
    }
    > ul {
      display: flex !important;
    }
  }
}

.social-media {
  position: relative;
  left: 0;
  bottom: -80px;
  right: 0;
  margin: 0 auto;
  justify-content: center;
  display: flex;

  &:before {
    content: "";
    position: absolute;
    top: -63px;
    left: -60px;
    right: 0;
    width: 130%;
    height: 1px;
    background: #e6e8e8;
  }

  a {
    color: #4a4f54 !important;
  }
  i {
    &:before {
      font-size: 20px;
    }
  }

  li {
    &:last-child {
      i {
        &:before {
          font-size: 18px;
        }
      }
    }
  }
}

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: -1;
  width: 100%;
  transition: all 0.5s ease;
  transition-delay: 0.4s;
  
  @media screen and (max-width: 1024px) {
    display: none;
  }

  &--open {
    background: rgba($color: #231f20, $alpha: 0.8);
    z-index: 998;
    transition-delay: 0s;
    .page {
      transform: translateX(0);

      &-1 {
        transition-delay: 0s;
      }
      &-3 {
        transition-delay: 0.4s;
      }
    }
  }
}
