.icon {
  z-index: 2;
  position: absolute;
  left: 90%;
  transition: all 0.3s ease;

  i {
    &:before {
      font-size: 14px;
    }
  }
}

.text {
  font-size: 16px;
  line-height: 19px;
  opacity: 1;
  position: relative;
  padding-left: 25px;
  z-index: 2;
  transition: all 0.3s ease;
}

.button,
.button-2 {
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
  color: #7e8a95;
  z-index: 1;
  width: 100%;
  background: rgba($color: #000000, $alpha: 7%);
  height: 60px;
  border-radius: 10px;
  border-top: 1px solid #e4e6e7;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transition: all 0.3s ease;
}

.button {
  bottom: 60px;
  border-radius: 0 !important;
  border-top: 1px solid #e4e6e7;
  background: transparent;
  color: #000;
  cursor: pointer;
}

.card {
  position: relative;
  width: 100%;
  height: 500px;
  display: block;
  overflow: hidden;
  width: 100%;
  border: 1px solid #e4e6e7;
  background: #fff;
  border-radius: 10px;

  h3 {
    color: #000;
    font-weight: 500;
    font-size: clamp(14px, 1.4vw, 20px);
    line-height: clamp(18px, 1.5vw, 18px);
    width: 100%;
    margin-top: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  span {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #7e8a95;
  }

  figure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  picture {
    position: relative;
    width: 100%;
    height: calc(100% - 185px);
    display: flex;
    overflow: hidden;
  }

  img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
    transition: all 0.5s ease;
  }

  figcaption {
    width: 100%;
    transition: all 0.5s ease;
    padding: 20px 0 0 20px;
  }

  @media (hover: hover) {
    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    .button,
    .button-2 {
      &:hover {
        color: #ffffff;
        background: #7e8a95;
      }
    }
  }
}
