.text {
  font-size: 18px;
  font-weight: 300;
  line-height: 34px;
  color: #fff;
  z-index: 2;
  position: relative;
  transition: all 0.3s ease;
  opacity: 0;
}

.icon {
  color: #fff;
  z-index: 2;
  position: absolute;
  left: 24px;
  transition: all 0.4s ease;

  i {
    &:before {
      font-size: 14px;
    }
  }
}

.button {
  a,
  button {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;
    min-width: 180px;
    cursor: pointer;

    span {
      display: flex;
      background: #000;
      height: 60px;
      width: 60px;
      z-index: 1;
      border-radius: 6px;
      position: absolute;
      backface-visibility: hidden;
      transition: all 0.3s ease;
    }
    @media (hover: hover) {
      &:hover {
        span {
          width: 100%;
          background: #d9222a !important;
        }

        .text {
          color: #fff;
          padding-left: 22px;
          opacity: 1;
        }

        .icon {
          left: 80%;
        }
      }
    }

    @media screen and (max-width: 768px) {
      min-width: 150px;

      span {
        width: 100%;
      }

      .text {
        opacity: 1;
        color: #fff;
        padding-left: 22px;
      }

      .icon {
        left: 80%;
      }
    }
  }

  &--download {
    .icon {
      transform: rotate(90deg);
    }
  }

  &--middle {
    a,
    button {
      width: 213px;

      span {
        width: 100% !important;
        background: #7e8a95 !important;
      }
    }

    .text {
      opacity: 1 !important;
      padding-left: 22px !important;
    }

    .icon {
      left: 80% !important;
    }
  }

  &--small {
    a,
    button {
      width: 60px;

      span {
        background: #7e8a95 !important;
      }
    }

    .icon {
      transform: rotate(180deg);
    }

    @media screen and (max-width: 768px) {
      width: 60px;

      span {
        width: 60px !important;
      }

      .icon {
        left: 25px !important;
      }
    }

    @media (hover: hover) {
      &:hover {
        span {
          width: 60px !important;
        }

        .icon {
          left: 25px !important;
        }
      }
    }
  }

  &--icon-start {
    a,
    button {
      width: 232px;
    }

    @media (hover: hover) {
      &:hover {
        .text {
          padding-left: 50px !important;
        }

        .icon {
          left: 25px !important;
        }
      }
    }

    @media screen and (max-width: 768px) {
      .text {
        padding-left: 50px !important;
      }

      .icon {
        left: 25px !important;
      }
    }
  }

  &--left-animation {
    a,
    button {
      min-width: 150px;
      justify-content: flex-end;

      span {
        right: 0;
        background: #7e8a95 !important;
      }
    }

    .icon {
      left: 75%;
    }

    @media (hover: hover) {
      &:hover {
        .text {
          padding-right: 30px !important;
        }

        .icon {
          left: 25px !important;
        }
      }
    }
  }
}
