.header-wrap {
  position: relative;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 999;

  @media screen and (max-width: 1366px) {
    height: auto !important;
  }

  &--fixed {
    position: fixed;
    background: rgba(247, 247, 247, 0.47);
    backdrop-filter: blur(7.5px);

    @media screen and (max-width: 1366px) {
      height: 91px !important;
    }

    @media screen and (max-width: 768px) {
      height: 60px;
      backdrop-filter: initial !important;
      background: #f7f7f7;
    }
  }
}

.search,
.basket {
  width: 132px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 396px;
  z-index: 99;
  align-items: center;
  justify-content: center;
  color: #000;
  display: flex;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    width: 60px;
    height: 60px;
    right: 120px;
    background: #e4e4e4;
  }

  @media screen and (max-width: 320px) {
  }

  i {
    &:before {
      font-size: 20px;
    }
  }

  &:hover {
    color: #d9222a;
  }
}

.basket {
  right: 264px !important;

  @media screen and (max-width: 768px) {
    right: 60px !important;
    background: #ededed;
  }

  i {
    &:before {
      font-size: 22px;
    }
  }

  span {
    position: absolute;
    border-radius: 100%;
    background: #d9222a;
    color: #fff;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    right: 32px;
    top: 50%;
    margin-top: -10px;

    @media screen and (max-width: 768px) {
      right: 8px;
      margin-top: -18px;
    }
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    background: #d0d2d4;
    width: 1px;
    top: 27px;
    height: 46px;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.language {
  display: flex;
  gap: 20px;
  font-size: 22px;
  line-height: 30px;
  position: fixed;
  top: 0;
  z-index: 97;
  right: 133px;

  @media screen and (max-width: 768px) {
    display: none;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0;
    background: #d0d2d4;
    width: 1px;
    top: 27px;
    height: 46px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 132px;
    height: 100px;
    color: #000;

    &:hover {
      color: #d9222a;
    }
  }

  &--active {
    color: #d9222a;
  }
}
