.breadcrumb {
  margin: 0;
  font-weight: 300;
  font-size: 10px;
  line-height: 30px;
  display: flex;
  align-items: center;
  height: 40px;
  z-index: 9;

  @media screen and (max-width: 1024px) {
    position: absolute;
    left: 0px;
    top: 100px;
    width: 100%;
    padding-left: 90px;

    &--unmobile {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: 36px;
  }

  li {
    position: relative;
    margin-right: 26px;
    display: inline-flex;
    color: #aab8c5;

    a {
      color: #aab8c5;
      display: inline-flex;
      align-items: center;
    }

    &:after {
      position: absolute;
      content: "";
      width: 5px;
      height: 5px;
      background: #AAB8C5;
      border-radius: 100%;
      right: -15px;
      top: 13px;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
