.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 376px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 8;
  @media screen and (max-width: 1366px) {
    padding-left: 100px;
  }

  h3 {
    color: #7E8A95;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px;
    position: relative;
    padding: 0 0 37px 51px;

    &:after {
      content: "";
      position: absolute;
      width: calc(100% - 102px);
      left: 0;
      bottom: 0;
      right: 0;
      height: 1px;
      background: rgba(126, 138, 149, 0.13);
      margin: 0 auto;
    }
  }

  ul {
    font-size: 18px;
    line-height: 21px;
    margin: 48px 51px 0 51px;

    a {
      display: flex;
      align-items: center;
      color: #4a4f54;
      padding: 15px 0;
      transition: all 0.3s ease;
      position: relative;

      &:hover,
      &.active {
        color: #d60812;
      }
    }
  }
}

.left-nav {
  position: fixed;
  background: #f7f7f7;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 3;

  @media screen and (max-width: 1366px) {
    z-index: 99;
  }

  @media screen and (max-width: 1280px) {
    display: none;
  }

  &--open {
    .left-nav {
    }
    .content {
      transform: translateX(0);
      z-index: 8;
    }
  }
}
