@import "../../assets/styles/icons.scss";

.checkbox {
  position: relative;
  display: -webkit-inline-box;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  margin-top: 10px;
  color: #000;

  u,
  b {
    font-weight: 500;
    text-decoration: underline;
  }

  span {
    position: relative;
    display: inline-flex;
    margin-right: 20px;
    font-family: benoplast !important;
    @extend .icon-check;

    &:before {
      position: absolute;
      display: none;
      font-size: 10px;
      left: calc(50% - 5px);
      top: calc(50% - 4px);
      color: #fff;
      z-index: 2;
    }

    &:after {
      width: 34px;
      height: 34px;
      content: "";
      position: relative;
      border: 1px solid #E5E8EA;
      background: #fff;
      border-radius: 3px;
      z-index: 1;
      top: 5px;
    }

    & + div {
      font-size: 14px;
      line-height: 23px;
      font-weight: 300;
      width: calc(100% - 54px);
      max-width: 500px;
    }
  }

  input:checked {
    ~ span {
      &:after {
        background: #7e8a95;
        border-color: #fff;
      }
      &:before {
        display: block;
      }
    }
  }

  pre {
    display: none;
  }
}
