.blog-detail {
  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 170px 50px;
    background: #f8f7f7;

    @media screen and (max-width: 1366px) {
      padding: 200px 100px 50px;
    }

    @media screen and (max-width: 1280px) {
      padding: 150px 36px 50px;
    }

    @media screen and (max-width: 1024px) {
      padding: 36px;
      padding-bottom: 0;
    }
  }

  &__back {
    margin-bottom: 45px;
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__left {
    width: 70%;
    padding-right: 111px;

    @media screen and (max-width: 1024px) {
      width: 100%;
      padding: 0;
    }
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 45px;

    @media screen and (max-width: 1024px) {
      margin-bottom: 37px;
      margin-top: 80px;
      flex-direction: column;
      align-items: flex-start;
    }

    h2 {
      font-size: clamp(22px, 2.5vw, 40px);
      line-height: clamp(25px, 3vw, 48px);
      font-weight: 300;
      width: calc(100% - 300px);

      @media screen and (max-width: 1024px) {
        width: 100%;
        margin-bottom: 10px;
      }
    }

    h3 {
      font-size: clamp(8px, 3vw, 12px);
      font-weight: 400;
      text-align: right;
      line-height: clamp(9px, 3vw, 16px);
   
    }
  }

  &__text {
    font-size: 18px !important;
    line-height: 26px !important;
    font-size: clamp(14px, 1.2vw, 18px) !important;
    line-height: clamp(22px, 2vw, 26px) !important;
    margin-top: 47px;

    * {
      font-size: clamp(14px, 1.2vw, 18px) !important;
      line-height: clamp(22px, 2vw, 26px) !important;
      font-weight: 300 !important;
    }

    h4 {
      font-weight: 500 !important;
      font-size: 24px !important;
      line-height: 28px !important;
      margin: 50px 0 15px;
    }

    p {
      margin-bottom: 15px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;

      @media screen and (max-width: 1024px) {
        border-radius: 20px 20px 80px 10px;
      }
    }
  }

  &__gallery {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 50px;

    @media screen and (max-width: 1024px) {
      gap: 20px;
    }

    > div {
      width: calc(33.333% - 27px);
      @media screen and (max-width: 1024px) {
        width: calc(33.333% - 20px);
      }

      @media screen and (max-width: 768px) {
        width: calc(50% - 15px);
      }
    }
  }

  &__share {
    margin-top: 95px;
    padding: 39px 0 45px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media screen and (max-width: 1024px) {
      margin-top: 40px;
      padding: 30px 0;
    }
  }

  &__right-nav {
    width: 30%;

    @media screen and (max-width: 1024px) {
      width: calc(100% + 72px);
      margin: 0 -36px;
      background: #f8f7f7;
      padding: 0 36px;
    }

    h4 {
      font-size: 24px;
      line-height: 30px;
      font-weight: 500;
      margin-bottom: 49px;
      padding-top: 56px;

      @media screen and (max-width: 1024px) {
        margin-bottom: 30px;
        padding-top: 0;
      }
    }

    > h4 {
      @media screen and (max-width: 1024px) {
        display: none;
      }
    }

    ul {
      font-size: clamp(14px, 1.5vw, 18px);
      line-height: 21px;
      font-weight: 300;

      @media screen and (max-width: 1024px) {
        display: none;
      }
      li {
        border-bottom: 1px solid #d9d9d9;
        padding: 20px 0;

        a {
          display: flex;
          justify-content: space-between;
          text-decoration: none;
          color: #000;
          transition: all 0.5s ease;

          &:hover {
            color: #e1251b;
          }
        }

        span {
          display: inline-block;
          width: calc(100% - 50px);
          white-space: nowrap;
          overflow: hidden !important;
          text-overflow: ellipsis;
        }
      }
    }

    .right-nav__categories {
      padding-bottom: 25px;
    }

    .right-nav__popular {
      > div {
        margin-bottom: 40px;
      }
    }
  }
}
