.blog {
  padding: 30px 165px 144px 165px;
  box-sizing: border-box;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    > a {
      width: calc(25% - 27px);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 44px 0 60px 0;

    h2 {
      font-weight: 300;
      font-size: 36px;
      line-height: 42px;
      display: flex;
      flex-direction: column;

      span {
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        display: flex;
        margin-top: 10px;
      }
    }
  }

  &__select {
    width: 375px;
    position: relative;
    box-shadow: 0px 40px 60px -20px rgba(0, 0, 0, 0.2);
  }
}
