.icon {
line-height: 1;
}

.icon:before {
font-family: benoplast !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-arrow {
  content: "\f101";
  }

  .icon-arrow:before {
  content: "\f101";
  }

  %icon-check {
  content: "\f102";
  }

  .icon-check:before {
  content: "\f102";
  }

  %icon-close {
  content: "\f103";
  }

  .icon-close:before {
  content: "\f103";
  }

  %icon-download {
  content: "\f104";
  }

  .icon-download:before {
  content: "\f104";
  }

  %icon-email-1 {
  content: "\f105";
  }

  .icon-email-1:before {
  content: "\f105";
  }

  %icon-email {
  content: "\f106";
  }

  .icon-email:before {
  content: "\f106";
  }

  %icon-facebook {
  content: "\f107";
  }

  .icon-facebook:before {
  content: "\f107";
  }

  %icon-instagram {
  content: "\f108";
  }

  .icon-instagram:before {
  content: "\f108";
  }

  %icon-linkedin {
  content: "\f109";
  }

  .icon-linkedin:before {
  content: "\f109";
  }

  %icon-location {
  content: "\f10a";
  }

  .icon-location:before {
  content: "\f10a";
  }

  %icon-pdf {
  content: "\f10b";
  }

  .icon-pdf:before {
  content: "\f10b";
  }

  %icon-phone {
  content: "\f10c";
  }

  .icon-phone:before {
  content: "\f10c";
  }

  %icon-search {
  content: "\f10d";
  }

  .icon-search:before {
  content: "\f10d";
  }

  %icon-twitter {
  content: "\f10e";
  }

  .icon-twitter:before {
  content: "\f10e";
  }

  %icon-upload {
  content: "\f10f";
  }

  .icon-upload:before {
  content: "\f10f";
  }

  %icon-youtube {
  content: "\f110";
  }

  .icon-youtube:before {
  content: "\f110";
  }

  %icon-zoom {
  content: "\f111";
  }

  .icon-zoom:before {
  content: "\f111";
  }
