.icon {
line-height: 1;
}

.icon:before {
font-family: benoplast !important;
font-style: normal;
font-weight: normal !important;
vertical-align: top;
}


  %icon-360degree {
  content: "\f101";
  }

  .icon-360degree:before {
  content: "\f101";
  }

  %icon-agriculture {
  content: "\f102";
  }

  .icon-agriculture:before {
  content: "\f102";
  }

  %icon-arrow-down {
  content: "\f103";
  }

  .icon-arrow-down:before {
  content: "\f103";
  }

  %icon-arrow {
  content: "\f104";
  }

  .icon-arrow:before {
  content: "\f104";
  }

  %icon-basket {
  content: "\f105";
  }

  .icon-basket:before {
  content: "\f105";
  }

  %icon-check {
  content: "\f106";
  }

  .icon-check:before {
  content: "\f106";
  }

  %icon-close {
  content: "\f107";
  }

  .icon-close:before {
  content: "\f107";
  }

  %icon-download {
  content: "\f108";
  }

  .icon-download:before {
  content: "\f108";
  }

  %icon-email {
  content: "\f109";
  }

  .icon-email:before {
  content: "\f109";
  }

  %icon-facebook {
  content: "\f10a";
  }

  .icon-facebook:before {
  content: "\f10a";
  }

  %icon-food {
  content: "\f10b";
  }

  .icon-food:before {
  content: "\f10b";
  }

  %icon-foodly {
  content: "\f10c";
  }

  .icon-foodly:before {
  content: "\f10c";
  }

  %icon-industry {
  content: "\f10d";
  }

  .icon-industry:before {
  content: "\f10d";
  }

  %icon-instagram {
  content: "\f10e";
  }

  .icon-instagram:before {
  content: "\f10e";
  }

  %icon-link {
  content: "\f10f";
  }

  .icon-link:before {
  content: "\f10f";
  }

  %icon-linkedin {
  content: "\f110";
  }

  .icon-linkedin:before {
  content: "\f110";
  }

  %icon-location {
  content: "\f111";
  }

  .icon-location:before {
  content: "\f111";
  }

  %icon-logistics {
  content: "\f112";
  }

  .icon-logistics:before {
  content: "\f112";
  }

  %icon-market {
  content: "\f113";
  }

  .icon-market:before {
  content: "\f113";
  }

  %icon-minus {
  content: "\f114";
  }

  .icon-minus:before {
  content: "\f114";
  }

  %icon-pdf {
  content: "\f115";
  }

  .icon-pdf:before {
  content: "\f115";
  }

  %icon-phone {
  content: "\f116";
  }

  .icon-phone:before {
  content: "\f116";
  }

  %icon-plus-circle {
  content: "\f117";
  }

  .icon-plus-circle:before {
  content: "\f117";
  }

  %icon-plus {
  content: "\f118";
  }

  .icon-plus:before {
  content: "\f118";
  }

  %icon-search {
  content: "\f119";
  }

  .icon-search:before {
  content: "\f119";
  }

  %icon-share {
  content: "\f11a";
  }

  .icon-share:before {
  content: "\f11a";
  }

  %icon-trash {
  content: "\f11b";
  }

  .icon-trash:before {
  content: "\f11b";
  }

  %icon-twitter {
  content: "\f11c";
  }

  .icon-twitter:before {
  content: "\f11c";
  }

  %icon-upload {
  content: "\f11d";
  }

  .icon-upload:before {
  content: "\f11d";
  }

  %icon-youtube {
  content: "\f11e";
  }

  .icon-youtube:before {
  content: "\f11e";
  }

  %icon-zoom {
  content: "\f11f";
  }

  .icon-zoom:before {
  content: "\f11f";
  }
