.library {
  margin-top: 30px;
  
  h2 {
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    padding-top: 44px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 48px 0 157px 0;
    gap: 30px;

    > a {
      width: calc(25% - 27px);
    }
  }
}
