.product-detail {
  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 90px;

    > a {
      width: calc(33.333% - 27px);

      @media screen and (max-width: 1024px) {
        width: calc(50% - 27px);
      }
    }
  }

  &__slider {
    margin-bottom: 90px;
  }

  iframe {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    aspect-ratio: 16 / 9;
  }
}
