.product-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 30px;
  min-height: 70vh;

  > div {
    width: calc(33.333% - 27px);

    @media screen and (max-width: 1440px) {
      width: calc(50% - 27px);
    }

    @media screen and (max-width: 768px) {
      width: calc(100% - 27px);
    }
  }
}
