@import "../../assets/styles/icons.scss";

.footer {
  position: relative;
  background: #d8dcdf;
  z-index: 999;

  &--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 48px;
    border-top: 1px solid #cacfd4;
    width: 100%;
    margin-top: 80px;
  }

  &--mid {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 47px;

  @media screen and (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

.nav {
  display: flex;
  width: calc(100% - 500px);
  justify-content: space-between;

  @media screen and (max-width: 1366px) {
    width: calc(100% - 300px);
  }

  @media screen and (max-width: 1024px) {
    width: 100%;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 20px;
  }

  ul {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    gap: 16px;
    display: flex;
    flex-direction: column;

    a {
      color: #000;
      transition: all 0.5s ease;
    }
  }

  > div {
    width: 24%;

    @media screen and (max-width: 1280px) {
      width: 22.5%;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    &:last-child {
      width: 20%;
      ul {
        font-weight: 500;
      }
    }

    &:nth-child(3) {
      display: none;
    }
  }
}

.social-media {
  background: #cacfd4;
  border-radius: 10px;
  display: flex;
  padding: 45px 55px;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    justify-content: space-between;
    width: 100%;
    padding: 30px 38px;

    > div {
      width: 100%;
    }
  }

  ul {
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-direction: row;
      width: 100%;
      justify-content: center;
    }

    @media screen and (max-width: 768px) {
      justify-content: space-between;
    }

    i {
      &:before {
        font-size: 24px;
      }
    }
  }
}

.logo {
  width: 180px;

  img {
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.copyright {
  color: #000000;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.policy {
  position: absolute;
  left: 163px;
  bottom: 195px;

  @media screen and (max-width: 1366px) {
    padding-left: clamp(30px, 4vw, 100px);
    left: 0;
  }

  @media screen and (max-width: 1024px) {
    bottom: 120px;
  }

  ul {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    gap: 16px;
  }

  a {
    color: #000000;
    transition: all 0.5s ease;
  }
}

.fikirmod {
  position: absolute;
  right: 163px;
  bottom: 47px;

  @media screen and (max-width: 1366px) {
    right: 100px;
  }

  @media screen and (max-width: 1280px) {
    right: 36px;
  }

  @media screen and (max-width: 1024px) {
    bottom: 30px;
  }
}

.foot {
  display: flex;
  background: #d8dcdf;
  gap: 31px;
  position: relative;
  z-index: 9999;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
    gap: 0;
  }

  &--content {
    display: flex;
    justify-content: space-between;
    position: relative;
    gap: 31px;
    padding-top: 202px;
    padding-bottom: 80px;

    @media screen and (max-width: 1024px) {
      padding: 40px 30px 50px 30px;
      flex-direction: column;
    }
  }
}
