.gallery-slide {
  display: flex;
  gap: 30px;
  margin: 40px 0 42px;
  justify-content: space-between;

  @media screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }

  &__big {
    width: 60%;
    height: 100%;
    position: relative;
    background: #fff;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 1024px) {
      width: 100%;
    }

    .icon {
      position: absolute;
      left: 21px;
      top: 20px;
      height: 50px;
      width: 50px;
      background: #f7f7f7;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;

      > i {
        position: initial !important;

        &:before {
          font-size: 20px;
        }
      }
    }

    i {
      position: absolute;
      right: 28px;
      top: 28px;

      &:before {
        font-size: 30px;
      }
    }

    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 4 / 3;
      object-fit: cover;
      display: flex;
    }
  }

  &__layer {
    width: 40%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 6px 10px;
    
    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: flex-start;
    }

    > div {
      width: calc(50% - 5px);
      aspect-ratio: 4 / 3;
      display: flex;
      @media screen and (max-width: 1024px) {
        width: calc(33.33% - 10px);
      }

      @media screen and (max-width: 768px) {
        width: calc(50% - 10px);
      }
    }

    picture {
      overflow: hidden;
      border: 1px solid #eeefef;
      border-radius: 10px;
      background: #fff;
      cursor: pointer;
      display: flex;
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
