.info-list {
  background: #464f56;
  border-radius: 10px;
  padding: 37px 50px;
  box-sizing: border-box;
  margin-bottom: 100px;

  @media screen and (max-width: 1024px) {
    padding: 11px 0px;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    gap: 30px;
    color: #fff;

    @media screen and (max-width: 1024px) {
      gap: 0px;
    }

    li {
      width: calc(33.33% - 27px);
      display: flex;
      align-items: center;
      justify-content: flex-start;

      i {
        color: #a1aab2;
        margin-right: 20px;

        &:before {
          font-size: 24px;
        }
      }

      @media screen and (max-width: 1024px) {
        width: 100%;
        border-bottom: 1px solid rgba(217, 217, 217, 0.1);;
        padding: 10px 20px;

        i:before {
          font-size: 16px;
        }
      }
    }
  }
}
