.card-prize {
  background: #ffffff;
  border: 1px solid #e4e6e7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: #000;
  height: 354px;

  figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    h3 {
      font-weight: 500;
      font-size: clamp(18px, 1.5vw, 20px);
      line-height: 18px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    img {
      width: 100%;
      object-fit: contain;
    }

    &:first-child {
      width: calc(100% - 30%);

      @media screen and (max-width: 1440px) {
        width: calc(100% - 50%);
      }
    }

    &:last-child {
      width: calc(100% - 50%);
      border-left: 1px solid #e4e6e7;
      height: 100%;
      justify-content: center;
    }
  }
}
